body {
    background-color: rgba(230,230,230,.5);
}


#CalculatorConteiner {
    border:1px black solid;
    display: inline-block;
    margin-top: 3%;
    margin-left: 38%;
    box-shadow: 0 0 15px 5px gray;
    background-color: rgb(230,230,230);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/*          Column of calculator      */


#CalculatorConteiner tr {
    height: 80px;
}


/*          Lines of calculator           */

#CalculatorConteiner td {
    text-align: center;
    width: 90px;
    height: 30px;
    font-size: 1.5em;
    background-color: rgb(250,250,250);
    cursor: default;
    max-width: 90px;
    overflow-y: auto;
}

#CalculatorConteiner td:hover {
    background-color: rgba(145,147,151,.4);
} 

#CalculatorConteiner td:active {
    background-color: rgba(145,147,151,1);
}


#CalculatorConteiner #js-display {
    text-align: right;
}



/*       Other   Classes of calculator           */ 

#CalculatorConteiner .display:hover,.display:active {
    background-color: rgb(250,250,250);
}



#CalculatorConteiner .equally {
    background-color: rgba(51,129,153,.4);
}

#CalculatorConteiner .equally:hover {
    background-color: rgba(51,129,153,.7);
}

#CalculatorConteiner .equally:active {
    background-color: rgba(51,129,153,1);
}





